body{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal
}

nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 200px;
}

.btn-nav{
    border-radius: 5px;
    background-color: #FD6E0A;
    border-width: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}

.nav-title-color{
    color: #FD6E0A;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

.header{
    background-color: #fff8f3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.btn-banner{
    border-radius: 5px;
    background-color: #FD6E0A;
    border-width: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-right: 20px;
}

.banner .profile-pic{
    width: 400px;
}