body{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal
}

nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 200px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.btn-nav{
    border-radius: 5px;
    background-color: #FD6E0A;
    border-width: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}

.section-title{
    font-size: 35px;
    text-align: center;
}

.section-description{
    font-size: 18px;
    text-align: center;
}
.nav-title-color{
    color: #FD6E0A;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

.header{
    background-color: #fff8f3;
    background-image: url('../Images/Group\ 12.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-width: 500px;
    
}

.btn-banner{
    border-radius: 5px;
    background-color: #FD6E0A;
    border-width: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-right: 20px;
}

.banner .profile-pic{
    width: 400px;
}

.banner-greeting{
    font-size: 45px;
    margin-bottom: 0px;
}

.banner-title{
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.banner-description{
    font-size: 18px;
}

.about{
    background-color: #FFF8F3;
    padding: 130px;
    border-radius: 10px;
    margin: 130px 0;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#what-i-do-sescription{
    padding: 30px 150px;
}

.skills-container{
    display: flex;
    gap: 30px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, .06);
    background-color: #fff;
}

.resume-coloum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700px;
}

.resume-container{
    display: flex;
}